name: Generate Pac-Man Contribution Grid

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:
  push:
    branches:
    - main

jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Generate pac-man-contribution-grid.svg
        uses: michael-beebe/pacman-contribution-graph@v1
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/pac-man.svg
            dist/pac-man-dark.svg?palette=github-dark

      - name: Push pac-man animation to output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
          keep_history: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
